[submodule "CaffeMex_v2"]
	path = CaffeMex_v2
	url = git@github.com:sciencefans/CaffeMex_v2.git
[submodule "Untitled Folder/CaffeMex_v2"]
	path = Untitled Folder/CaffeMex_v2
	url = git@github.com:sciencefans/CaffeMex_v2.git
